@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

.form{
    border: 2px, solid #054de9;
}

.navbarDropdown{
    background-color: #1252dd;
}


.dropdown-item a:hover{
  color: red;
}

.titulo{
font-family:'Dancing Script', cursiva;

    text-align: center;
    margin: 1px;
}



.nav-item{
    font-family:  'Aboreto', cursiva;
    

}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #3a04ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    visibility: visible;
    animation-duration: 0.75s;
    left: 0;

}

.menu{
    background-color: blue;
    color: #0e0d0d;
    height: 80px;
    box-shadow: 1px 2px 10px 1px;
    position: static;
    z-index: 0;
}


.menu h1{
    margin: 10px;
}


.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    /* Esto funciona como animacion para ocultar y desplegar  custom property*/
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0 );
    --transform:rotate (-90deg);
}

.module {
 
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  padding: 20px;
  justify-content: center;
  justify-content: center;
}

.module p{
  margin: 12px;

}
.menu_item:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform:rotate(0);
}

.menu_desplegable{
    clip-path: var(--clip);
}


.menu_links{
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    height: 100%;
    align-items: center;
    color: #3a04ff;
}


.menu_arrow bx-chevron-down{
    transform: var(--transform);
    transition:  transform .3s;
    display: block;
    margin-left: 20px;
}

.menu_desplegable{
    list-style: none;
    transition: clip-path .5s;
    clip-path: var(--clip);
    position: relative;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
}

.menu-hamburguesa{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.menu-hamburguesa i{
    display: block;
    width: 40px;
    color: #088178;
}


@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
:root {
  --user-button-circle: rgba(0,0,0,0.025);
  --user-button-cardborder: rgba(255,255,255,0.25);
  --user-button-text:#323133;
  --user-button-shadow:rgba(0,0,0,0.1);
}

.productos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 12px;
}


 #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
          animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
 #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow), inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
 #user-button .u-main {
  cursor: pointer;
  --user-button-background:var(--user-button-main, #EC87C0);
}
 #user-button .u-main img {
  height: 100%;
  width: 100%;
}
 #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
 #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
 #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
 #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
 #user-button .u-icons  {
  position: relative;
}
 #user-button .u-icons :before {
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
 #user-button .u-icons .show:before {
  opacity: 1;
  transition: 0.25s ease-out;
}
 #user-button .u-icons  div {
  color: #1da1f2;
}
 #user-button .u-icons  div {
  background: black;
  color: white;
}
 #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
          animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
 #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
 #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 #user-button .u-icons > *:hover,  #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
 #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1),  #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
 #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1),  #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
 #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2),  #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
 #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1),  #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
 #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2),  #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
 #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3), #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
 #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1),  #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
 .user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2),  #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
 .user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3),  #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
 .user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4), #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
 .user-button:hover .u-icons,  #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}


/* Aqui van las preferencias de color por sistema */
@media (prefers-color-scheme: black) {
  :not(.white) {
    background: #232223;
    color: rgb(216, 26, 26);
  }
}
 .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
 .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .options {
    min-width: 520px;
  }
   .options .option:nth-child(5) {
    display: none;
    background-color: #0e0d0d;
  }
}
@media screen and (max-width: 638px) {
   .options {
    min-width: 440px;
  }
   .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
   .options {
    min-width: 360px;
  }
   .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
   .options {
    min-width: 280px;
  }
     .options .option:nth-child(2) {
    display: none;
  }
}

/* Aqui se modifica la foto */
 .options .option {
  position: relative;
  overflow: hidden;
  min-width: 68px;
  margin: 20px;
  background: var(--optionBackground, var(--defaultBackground, #1869d3));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 #options .option:nth-child(1) {
  --defaultBackground:#ff0c24;
}
 .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
 .options .option:nth-child(3) {
  --defaultBackground:#a817cc;
}
 .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
 .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
 .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
 .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}
 options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
 .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
 .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
 .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
 .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
 .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
 .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
 .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
 .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: rgb(8, 8, 8);
  white-space: pre;
  transition:3s;
}
 .options .option .label .info > div {
  position: relative;
}
 .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
 .options .option .label .info .sub {
  transition-delay: 0.1s;
}





button.white{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
.modulo{
    width:60%;
    height: 40%;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#hero{
    background-image: url("/img/logotipo.jpg");
    height: 90vh;
    width: 90%;
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: black;
}

#hero button{
    background-image: url("/resources/img/bottom.png");
    color: #3b04ff;
    padding: 14px 80px 14px 65px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    background-repeat: no-repeat;
}

.modelado{
    justify-content: center;
    text-align: center;
    padding: 30px;
    width: 80px;
    display: flex;
}

#modelado .src{
    justify-content: center;
    padding: 30px;
}

#feature{
    display: flex;
    justify-content: space-between;
    padding: 17px 10px 10px 10px;
    flex-wrap: wrap;
    margin-top: 80px;

}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 20px 24px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    margin: 25px ;
    border: 1px solid #cce7d8;
}


#feature .fe-box:hover{
    box-shadow: 10px 18px 4px 10px rgb(255, 127, 217);
}


#feature .fe-box h6{
    padding: 10px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #3a04ff;
    background-color: #cce7d8;
    display: block;
    font-weight: 700;
}

#feature .fe-box h4:hover{
    background-color: #0e0d0d;
    cursor: pointer;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: aquamarine;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(255, 127, 217);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(233, 255, 107);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(255, 174, 127);
}


#feature .image{
    height: 90px;
    margin-bottom: 7px;
}

.titulo{
  margin-top: 12px;
}


.section-title{
    font-weight: 600;
    text-align: center;
    margin: 70px;
}



.contenedor{
    border-radius: 10px;
    width: 100%;
    display: flex;
    margin: 5px;
}

.mostrador{
    width: 100%;
    transition: .7s ease;
}

.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.mostrador .fila .item{
    max-width: 250px;
    padding: 20px ;
    height: 260px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}


.mostrador .fila .item img{
    width: 100%;
    margin: 20px 0;
}

.mostrador .fila .item .descripcion{
    color: blue;
    font-weight: bold;
    text-align: center;

}

.mostrador .fila .item .precio{
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
}

.seleccion {
    transition: .5s ease;
    opacity: 0;
    width: 100vh;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
    background-color: #0e0d0d;
}


.cerrar i{
    position: relative;
    right: 2px;
    top: 5px;
    margin: 10px;
    width: 60px;
    cursor: pointer;
    background-color:#d41b1b;

}

.info{
    padding: 10px;
    height: 40px;
}

.info img{
    display: block;
    margin: 10px  18px;
    width: 40%;
    justify-content: center;
}

.info h2{
    color: #ccc;
    margin-bottom: 10px;
}

.info p{
    font-size: 14px;
    color: rgb(2, 2, 2);
    margin-bottom: 10px;
    font-weight: bold;
}

.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
    margin-bottom: 10px;
    display: block;
}

.info .fila{
    display: flex;
    align-items: center;
}

.info .fila label{
    display: block;
    margin-bottom: 10px;
}

.info .fila select{
    width: 50px;
    font-size: 10px;
    padding: 4px;
    margin-right: 10px;
    background-color: aliceblue;
}

.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: white;
    background-color: rgb(31, 8, 243);
    border-radius: 10px;
}

.banner{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  background-size: cover;
  background-position: center;
  background-color: #fc2929;
}




#banner{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/resources/img/wave.svg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
}

#banner .normal{
    border-radius: 10px;
    background-color: #1869d3;
    width: 400px;
    height: 40px;
    font-weight: 600;
    text-decoration: solid;
}

#banner h4{
    color: aqua;
    font-size: 16px;
    
}

#banner h2{
    color: rgb(14, 13, 13);
    font-size: 30px;
    padding: 10px 0;
}

#banner button:hover{
    background: #088178;
    color: #cce7d8;
}


#banner-sm{
    width: 20px;
}

.footer h5{
  justify-content: center;
  background-color: beige;
}