/* *{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
} */

.contenedor{
    border-radius: 10px;
    width: 100%;
    margin: 4px;
    display: flex;
}

.mostrador{
    width: 100vh;
    transition: .5s ease;
}

.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.mostrador .fila .item{
    max-width: 250px;
    padding: 80px;
    height: 150px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}


.mostrador .fila .item img{
    width: 100%;
    margin: 20px 0;
}

.mostrador .fila .item .descripcion{
    color: blue;
    font-weight: bold;
    text-align: center;

}

.mostrador .fila .item .precio{
    color: blueviolet;
    font-weight: bold;
    font-size: 10px;
}

.seleccion {
    transition: .5s ease;
    opacity: 0;
    width: 60px;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 5px;
    overflow: hidden;
}


.cerrar i{
    position: relative;
    right: 2px;
    top: 10px;
    margin: 10px;
    width: 50px;
    cursor: pointer;

}

.info{
    padding: 10px;
    background-color: aliceblue;
    justify-content: center;
}

.info img{
    display: block;
    margin: 10px 10px;
    width: 90%;
    text-align: center;
}

.info h2{
    color: #ccc;
    margin-bottom: 10px;
}

.info p{
    font-size: 24px;
    color: rgb(2, 2, 2);
    margin-bottom: 10px;
    font-weight: bold;
}

.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
    margin-bottom: 10px;
    display: block;
}

.info .fila{
    display: flex;
    align-items: center;
}

.info .fila label{
    display: block;
    margin-bottom: 5px;
}

.info .fila select{
    width: 50px;
    font-size: 18px;
    padding: 4px;
    margin-right: 10px;
    background-color: aliceblue;
}

.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: white;
    background-color: rgb(31, 8, 243);
    border-radius: 10px;
}